# Text editor artifacts
*#
*~

# ghc Haskell objects
*.o
*.hi

# Compiled file
/src/Main

# Profiling files
*.prof

# Cabal sandboxes
/.cabal-sandbox/*
cabal.sandbox.config

# Cabal build
/dist/*

# Stack files
.stack-work
